VITE_SUPABASE_URL=https://bjuznbywvdxnteptopqb.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJqdXpuYnl3dmR4bnRlcHRvcHFiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4NDcxNTksImV4cCI6MjA5NzQyMzE1OX0.X3b64tiURpmCRiervV3vt-K6HdiRQiQQ2e7AIo2L3Ys
